 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-container {
  background-color: #c9e0f9;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
.container {
  margin: 175px auto;
  text-align: center;
  max-width: 80%;
}
.name{
  margin: 0;
  font-family: Sacramento, cursive;
  font-size: 4rem;
  color: #66bfbf;
  line-height: 1em;

}
.mountains {
  height: 12.5em;
  width: 7.5em;
  background-color: #f2be7a;
  position: absolute;
  left: 1.9em;
  bottom: -0.62em;
  transform: rotate(-60deg);
}
.mountains:before {
  content: "";
  position: absolute;
  height: 5em;
  width: 8.75em;
  background-color: #f2be7a;
  left: 3.12em;
  bottom: 1.25em;
  transform: rotate(-90deg);
}
.mountains:after {
  content: "";
  position: absolute;
  height: 6.25em;
  width: 11em;
  background-color: #f2be7a;
  left: 4.4em;
  bottom: -6.7em;
  transform: rotate(43deg);
}
.land {
  height: 5em;
  width: 100%;
  background-color: #FAD5A5;
  position: absolute;
  bottom: -0.31em;
}
.moon {
  height: 2.2em;
  width: 2.2em;
  background-color: #ffffff;
  position: absolute;
  left: 5.62em;
  top: 4.4em;
  border-radius: 50%;
  box-shadow: 0 0 0 0.62em rgba(255, 255, 255, 0.6),
    0 0 0 1.25em rgba(255, 255, 255, 0.5), 0 0 0 1.9em rgba(255, 255, 255, 0.4);
}
.light {
  height: 0.25em;
  width: 0.25em;
  background-color: #000;
  position: absolute;
  top: 0.75em;
  left: 0.5em;
  border-radius: 50%;
  box-shadow: 0 0 0.06em 0.12em rgba(255, 255, 255, 0.3),
    0 0 0.06em 0.25em rgba(255, 255, 255, 0.2);
}
.light:before {
  content: "";
  position: absolute;
  background-color: #000;
  height: 0.5em;
  width: 0.5em;
  bottom: -1.25em;
  left: -0.12em;
  border-radius: 0.25em 0.25em 0 0;
}
.blades {
  height: 3.75em;
  width: 3.75em;
  position: absolute;
  bottom: -1.9em;
  left: -1.25em;
  animation: spin 5s infinite linear;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.blades:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 0.5em;
  background-color: #FFF;
  left: 1.62em;
}
.blades:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 0.5em;
  background-color: #FFF;
  left: 1.62em;
  transform: rotate(90deg);
}
.star,
.star:before,
.star:after {
  height: 0.18em;
  width: 0.18em;
  background-color: #ffffff;
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
  animation: twinkle 2s infinite;
}
@keyframes twinkle {
  50% {
    opacity: 1;
  }
}

.tree {
  height: 0;
  width: 0;
  border-bottom: 2em solid #587156;
  border-left: 0.37em solid transparent;
  border-right: 0.37em solid transparent;
  position: absolute;
  bottom: 4.87em;
  left: 3.12em;
}
.tree:before {
  content: "";
  position: absolute;
  border-bottom: 1.56em solid #587156;
  border-left: 0.37em solid transparent;
  border-right: 0.37em solid transparent;
  bottom: -2.18em;
  left: 0.18em;
}
.tree-1 {
  height: 0;
  width: 0;
  border-bottom: 2em solid #587156;
  border-left: 0.37em solid transparent;
  border-right: 0.37em solid transparent;
  position: absolute;
  bottom: 4.87em;
  left: 20em;
}
.tree-1:before {
  content: "";
  position: absolute;
  border-bottom: 1.56em solid #587156;
  border-left: 0.37em solid transparent;
  border-right: 0.37em solid transparent;
  bottom: -2.18em;
  left: 0.18em;
}
.tree-1:after {
  content: "";
  position: absolute;
  border-bottom: 1.56em solid #587156;
  border-left: 0.37em solid transparent;
  border-right: 0.37em solid transparent;
  bottom: -2.18em;
  left: 3.20em;
}
.change-content {
  font-family: Merriweather, sans-serif;
}
.head {
  font-size: 1.5rem;
  font-family: Merriweather, sans-serif;
  color: black;
}

.change-content:after {
  content: "";
  animation: text 10s infinite linear;
  font-size: 1.5rem;
}

@keyframes text {
  0% {
    content: "Programmer";
  }
  25% {
    content: "Web developer";
  }
  50% {
    content: "Backend developer";
  }
  75% {
    content: "Freelancer";
  }
  100% {
    content: "Python Developer";
  }
}
body {
    margin: 0;
    display: inline-block;
    text-align: center;
    font-family: Merriweather,serif;
    background-color: #000;
}

.house {
  width: 100px;
  height: 170px;
  border: 0;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wall {
  position: absolute;
  width: 5em;
  height: 2.70em;
  border: 0;
  background: grey;
  left: 9px;
  top: 53px;
}
.door {
  position: absolute;
  width: 1em;
  height: 1.36em;
  background: #000;
  left: 42px;
  top: 75px;
}
.door-knob {
  position: absolute;
  width: 0.1em;
  height: 0.1em;
  border: 0.005em solid white;
  border-radius: 50%;
  background: dodgerblue;
  left: 43px;
  top: 86px;
}
.roof {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 4.71em solid transparent;
  border-right: 4.71em solid transparent;
  border-bottom: 3.0em solid white;
  left: -25px;
  top: 5px;
  z-index: 1;
}
.chimini{
    position: absolute;
    width: 10px;
    height: 30px;
    left: 15px;
    top: 5px;
    background: red;
    z-index: 0;
}
@keyframes smoke {
	0% {opacity:1; border-radius:50%; transform:scale(1)}
    80% {transform:translate3d(40px,-150px,0px) rotate(20deg) skew(-30deg) scale(2); -webkit-filter:blur(5px); -moz-filter:blur(5px); -ms-filter:blur(5px); -o-filter:blur(5px); border-radius:50%;}
    100% {opacity:0;}
}

@-webkit-keyframes smoke {
    0% {opacity:1; border-radius:50%; transform:scale(1)}
    80% {transform:translate3d(40px,-150px,0px) rotate(20deg) skew(-30deg) scale(2); -webkit-filter:blur(5px); -moz-filter:blur(5px); -ms-filter:blur(5px); -o-filter:blur(5px); border-radius:50%;}
    100% {opacity:0;}
}

#box {background:#8ba9c9;
	background:-moz-linear-gradient(-45deg, #8ba9c9 0%,#ab9fc6 84%,#ab9fc6 100%);
	background:-webkit-gradient(left top, right bottom, color-stop(0%, #8ba9c9), color-stop(84%,#ab9fc6), color-stop(100%,#ab9fc6));
	background:-webkit-linear-gradient(-45deg, #8ba9c9 0%,#ab9fc6 84%,#ab9fc6 100%);
	background:-o-linear-gradient(-45deg, #8ba9c9 0%,#ab9fc6 84%,#ab9fc6 100%);
	background:-ms-linear-gradient(-45deg, #8ba9c9 0%,#ab9fc6 84%,#ab9fc6 100%);
	background:linear-gradient(135deg, #8ba9c9 0%,#ab9fc6 84%,#ab9fc6 100%); border:1px dotted whitesmoke;
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a90c7', endColorstr='#8f5dda', GradientType=1 );     		    height:100vh; margin:0; width:100%;}

#chimney {
    background: transparent;
    border:1px solid transparent;
    border-top-width:40px;
    border-radius:2px 2px 0 0;
    height:200px; left:10%;
    top:0; position:absolute;
    width:30px;
    }
#chimney-main {top:-39px; position:absolute; left:-14px;}

#chimney-smoke-box {height:50px; left:5px; top:0; position:absolute; width:20px;}

.chimney-smoke {animation:smoke 3.5s infinite ease-out; -webkit-animation:smoke 3.5s infinite ease-out;
	background: transparent;
	background:-webkit-repeating-linear-gradient(90deg, transparent 0%, #041524 50%);
	background:-o-repeating-linear-gradient(90deg, transparent 0%, #041524 50%);
	background:-moz-repeating-linear-gradient(90deg, transparent 0%, #041524 50%);
	background:repeating-linear-gradient(90deg, transparent 0%, white 50%);
	-webkit-filter:blur(4px);
	-moz-filter:blur(4px);
	-ms-filter:blur(4px);
	-o-filter:blur(4px);
	filter:blur(4px);
	height:100%; position:relative; width:100%;}

#chimney-smoke2 {top:-55px; animation-delay:0.5s;}
#chimney-smoke3 {top:-105px; animation-delay:1s;}
#chimney-smoke4 {top:-155px; animation-delay:1.5s;}
#chimney-smoke5 {top:-205px; animation-delay:2.5s;}
#chimney-smoke6 {top:-255px; animation-delay:3s;}

.windmill {
  height: 0;
  width: 1.25em;
  border-bottom: 2.37em solid #FFF;
  border-left: 0.15em solid transparent;
  border-right: 0.15em solid transparent;
  position: absolute;
  right: 12.5em;
  bottom: 4.87em;
}
.windmill:after {
  position: absolute;
  content: "";
  background-color: #FFF;
  height: 0.62em;
  width: 1.25em;
  bottom: -0.06em;
  border-radius: 1.25em 1.25em 0 0;
}
.windmill:before {
  content: "";
  position: absolute;
  width: 1.5em;
  height: 0;
  border-bottom: 0.37em solid red;
  border-left: 0.06em solid transparent;
  border-right: 0.06em solid transparent;
  position: absolute;
  right: -0.2em;
  top: 0.06em;
}

.tumbleweed {
    margin: 0;
    width: 50px;
    height: auto;
    border-radius: 50%;
    animation : rolling 20s linear 0.2s infinite;
}

@-webkit-keyframes rolling {
    0% {
        margin-left: 0vw;
        animation-timing-function: ease-in;
        transform: rotate(-720deg);
    }
    25% {
        margin-left: 25vw;
        transform: rotate(-360deg);
    }
    50% {
        margin-left: 50vw;
        transform: rotate(0deg);
    }
    75% {
        margin-left: 75vw;
        transform: rotate(360deg);
    }
    100% {
        margin-left: 100vw;
        transform: rotate(720deg);
    }
}

@keyframes rolling {
    0% {
        margin-left: 0vw;
        animation-timing-function: ease-in;
        transform: rotate(-720deg);
    }
    25% {
        margin-left: 25vw;
        transform: rotate(-360deg);
    }
    50% {
        margin-left: 50vw;
        transform: rotate(0deg);
    }
    75% {
        margin-left: 75vw;
        transform: rotate(360deg);
    }
    100% {
        margin-left: 100vw;
        transform: rotate(720deg);
    }
}
a {
    color: #66bfbf;
}
@media only screen and (max-width: 600px) {
    .windmill {
        height: 0;
        width: 1.25em;
        border-bottom: 2.37em solid #FFF;
        border-left: 0.15em solid transparent;
        border-right: 0.15em solid transparent;
        position: absolute;
        right: 17.5em;
        bottom: 4.87em;
    }
    .windmill:after {
        position: absolute;
        content: "";
        background-color: #FFF;
        height: 0.62em;
        width: 1.25em;
        bottom: -0.06em;
        border-radius: 1.25em 1.25em 0 0;
    }
    .windmill:before {
        content: "";
        position: absolute;
        width: 1.5em;
        height: 0;
        border-bottom: 0.37em solid red;
        border-left: 0.06em solid transparent;
        border-right: 0.06em solid transparent;
        right: -0.2em;
        top: 0.06em;
    }
}
